.Dice {
    display: flex;
    justify-content: center;
    align-items: center;
    color: slateblue;
    padding: 1em;
}

.shaking {
    /* animation: wobbleDice 1s ease-in-out .2s; */
    animation-name: wobbleDice;
    animation-duration: 1s;
}

@keyframes wobbleDice {
    from {
        transform: translate(0, 0, 0);
        color: deeppink !important;
    }
    15% {
        transform: translate(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate(-20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate(-15%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    60% {
        transform: translate(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    to {
        transform: translate(0, 0, 0);
        color: forestgreen !important;
    }
}